body{
    position:relative;
    margin-top:63px;
    
}

accent{
    background-color: #D8D6BC;
}

a.error {
    color: #F90707 !important;
}

hr{
    border-top: 1px solid #CAC5C5;
}

hr.invisible{
    color:#D8D6BC;
}

table.strong-border{
   border: 1px solid #000000;
}

.strong-border > thead > tr > th,
.strong-border > tbody > tr > th,
.strong-border > tfoot > tr > th,
.strong-border > thead > tr > td,
.strong-border > tbody > tr > td,
.strong-border > tfoot > tr > td {
   border: 1px solid #000000;
}

